<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Informe o nome do cliente" required
        name="nome" [(ngModel)]="cliente.nome">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input  matInput [matDatepicker]="data_nasci" placeholder="Insere a data de nascimento" required
        name="data_nasci" [(ngModel)]="cliente.data_nasci">
      <mat-datepicker-toggle matSuffix [for]="data_nasci"></mat-datepicker-toggle>
      <mat-datepicker #data_nasci></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Celular</mat-label>
      <input matInput placeholder="Informe o numero do celular Ex.: (DDD) XXXXX-XXXX" required
        name="celular" [(ngModel)]="cliente.celular">
    </mat-form-field>

    <mat-form-field>
      <mat-label>CPF</mat-label>
      <input matInput #input maxlength="11" placeholder="Informe o CPF (Somente número)" required
        name="cpf" [(ngModel)]="cliente.cpf">
      <mat-hint align="end">{{input.value?.length || 0}}/11</mat-hint>
    </mat-form-field>

    <!--
    <mat-form-field hintLabel="Max 10 characters">
      <input matInput #input maxlength="10" placeholder="Enter some input">
      <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
    </mat-form-field>
    -->

    <mat-form-field>
      <mat-label>RG</mat-label>
      <input matInput #input maxlength="9" placeholder="Informe o RG (Somente número)" required
        name="rg" [(ngModel)]="cliente.rg">
      <mat-hint align="end">{{input.value?.length || 0}}/9</mat-hint>
    </mat-form-field>    
    
    <mat-form-field>
      <mat-label>CEP</mat-label>
      <input matInput #input maxlength="8" placeholder="Informe o CEP onde você mora (Somente número)" required
        name="cep" [(ngModel)]="cliente.cep">
      <mat-hint align="end">{{input.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nome da Rua</mat-label>
      <input matInput placeholder="Informe o nome da rua onde você mora" required
        name="nome_rua" [(ngModel)]="cliente.nome_rua">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero da Casa</mat-label>
      <span matPrefix>Nº </span>
      <input matInput placeholder="Informe a o numero da casa onde você mora" required 
        name="num_casa" [(ngModel)]="cliente.num_casa">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="Informe o bairro onde você mora" required
        name="bairro" [(ngModel)]="cliente.bairro">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="Informe o cidade onde você mora" required
        name="cidade" [(ngModel)]="cliente.cidade">
    </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>