<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Veiculo</mat-label>
      <mat-select placeholder="Seleciona o Veiculo" required
        name="veiculo" [(ngModel)]="registro.veiculo">
        <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo._id">
          {{ veiculo.placa_veicu }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Entrada</mat-label>
      <input  matInput [matDatepicker]="data_entrada" placeholder="Insere a data de entrada" required
        name="data_entrada" [(ngModel)]="registro.data_entrada">
      <mat-datepicker-toggle matSuffix [for]="data_entrada"></mat-datepicker-toggle>
      <mat-datepicker #data_entrada></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora de Entrada</mat-label>
      <input matInput placeholder="Informe a hora de entrada Ex.: HH:mm" required
        name="hora_entrada" [(ngModel)]="registro.hora_entrada">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Saida</mat-label>
      <input  matInput [matDatepicker]="data_saida" placeholder="Insere a data de saida"
        name="data_saida" [(ngModel)]="registro.data_saida">
      <mat-datepicker-toggle matSuffix [for]="data_saida"></mat-datepicker-toggle>
      <mat-datepicker #data_saida></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora de saida</mat-label>
      <input matInput placeholder="Informe a hora de saida Ex.: HH:mm"
        name="hora_saida" [(ngModel)]="registro.hora_saida">
    </mat-form-field>

  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>