<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="rootMenu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #rootMenu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="subMenu">Cadastro</button>
  </mat-menu>
  
  <mat-menu #subMenu="matMenu">
    <a mat-menu-item href="item">Itens</a>
    <!-- Coloque novos itens do submenu aqui -->
    <a mat-menu-item href="cliente">Clientes</a>
    <a mat-menu-item href="funcionario">Funcionarios</a>
    <a mat-menu-item href="pagamento">Pagamentos</a>
    <a mat-menu-item href="registro">Registros</a>
    <a mat-menu-item href="veiculo">Veiculos</a>
  </mat-menu>

  <span>{{ title}}</span>
</mat-toolbar>



<mat-card>
  <router-outlet></router-outlet>
</mat-card>