<mat-card-title>
  {{ titulo }}
</mat-card-title>

<mat-card-content>

  <form class="form-container">

    <mat-form-field>
      <mat-label>Funcionario</mat-label>
      <mat-select placeholder="Seleciona um funcionario" required
        name="funcionario" [(ngModel)]="pagamento.funcionario">
        <mat-option *ngFor="let funcionario of funcionarios" [value]="funcionario._id">
          {{ funcionario.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Veiculo</mat-label>
        <mat-select placeholder="Seleciona um veiculo" required
          name="veiculo" [(ngModel)]="pagamento.veiculo">
          <mat-option *ngFor="let veiculo of veiculos" [value]="veiculo._id">
            {{ veiculo.placa_veicu }}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Data de Pagamento</mat-label>
      <input  matInput [matDatepicker]="data_pagamento" placeholder="Insere a data de pagamento" required
        name="data_pagamento" [(ngModel)]="pagamento.data_pagamento">
      <mat-datepicker-toggle matSuffix [for]="data_pagamento"></mat-datepicker-toggle>
      <mat-datepicker #data_pagamento></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Valor</mat-label>
      <span matPrefix>R$ </span>
      <input matInput placeholder=" Informe o valor recibo Ex.: 10.00" required
        name="valor_pagamento" [(ngModel)]="pagamento.valor_pagamento">
    </mat-form-field>

    <!--
    <mat-form-field>
      <mat-label>Tipo de Pagamento</mat-label>
      <input matInput placeholder="Informe o tipo de pagamento" required
        name="tipo_pagamento" [(ngModel)]="pagamento.tipo_pagamento">
    </mat-form-field>
    -->

    <mat-form-field>
      <mat-label>Tipo de Pagamento</mat-label>
      <mat-select placeholder="Seleciona um pagamento" required
        name="tipo_pagamento" [(ngModel)]="pagamento.tipo_pagamento">
        <mat-option *ngFor="let tp of progLang" [value]="tp.tipo_pagamento">
          {{ tp.tipo_pagamento }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!--
    <mat-form-field>
      <mat-label>Pago?</mat-label>
      <input matInput placeholder="Informe informe se foi pago EX:Pg" required
        name="status" [(ngModel)]="pagamento.status">
    </mat-form-field>
    -->

    <mat-label>Pago?</mat-label>
    <mat-checkbox required name="status" [(ngModel)]="pagamento.status"></mat-checkbox>
    
  </form>

</mat-card-content>

<mat-card-actions class="center-buttons">
  <button mat-flat-button color="primary" (click)="salvar()">Salvar</button>
  <button mat-flat-button color="warn" (click)="cancelar()">Cancelar</button>
</mat-card-actions>